{% extends "base.html" %}
{% block title %}Categorias {% endblock %}
{% block conteudo %}

    <h3>Categorias</h3>
    <br>
    {% if is_admin %}
        <a class="btn btn-primary" href="{{url_for('categorias_new')}}" role="button">Nova Categoria</a>
    {% endif %}
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">Resultado</div>
        <table class="table table-bordered">
            {% for cat in categorias %}
            <tr>
              <td>{{cat.nome}}</td>
                  {% if current_user.is_authenticated and current_user.is_admin()  %}
                    <td><a href="{{url_for('categorias_edit', id=cat.id)}}"><span class="glyphicon glyphicon-pencil"></span>Modificar</a></td>
                    <td><a href="{{url_for('categorias_delete',id=cat.id)}}"><span class="glyphicon glyphicon-trash"></span> Deletar</a></td>
                  {% endif %}
            </tr>
            {% endfor %}
      </table>
    </div>


{% endblock %}
 	