{% extends "base.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block conteudo %}
<div class="container">
  <div class="row">
    <h3>Deletar Informações</h3>
    <p>Esta certo disso: {{cat.nome}}</p>
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.sim(class="btn btn-primary") }} {{form.nao
            (class="btn btn-primary")}}<br/><br/>
        </div>
          
    </form>
  </div>
</div>
 	
  
{% endblock %}